In [1]:
%matplotlib inline
from matplotlib import style
style.use(f'fivethirtyeight')
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

In [2]:
import datetime as dt

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [4]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [5]:
# Reflect an existing database into a new model
Base = automap_base()
# Reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# Save the references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [7]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [8]:
june_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 6)
june_temp_list = [temp.tobs for temp in june_temps]
print(np.mean(june_temp_list))

74.94411764705882

In [9]:
june_df = pd.DataFrame(june_temp_list, columns=['temps'])
june_df.describe()

             temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [10]:
dec_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 12)
dec_temp_list = [temp.tobs for temp in dec_temps]
print(np.mean(dec_temp_list))

71.04152933421226

In [12]:
dec_df = pd.DataFrame(dec_temp_list, columns=['temps'])
dec_df.describe()

             temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

# Findings

The main and most prominent finding from this analysis is that the difference between the mean temperature in the month of June and the month of December is about 4 degrees. This is a very sublt temperature change, especially because the months are in opposite seasons. This is a good sign for development of the surf shop/ ice cream store. 

For further analysis, I would look at data from temperatures changes throughout the day. I want to look into what the temperatures are at night, for example. This would give me insight as to when it might be a good idea to close the shop for the day. If the temperature drop at night is too cold for eating ice cream, I would probably lock up the shop at sundown. This is likely not the case, however, based on the small temp change between summer and winter months. 

Another analysis I would do if I were to open an ice cream shop/ surf shop would be to look at data on how much ice cream people actually eat when it is raining (if it exists). I would try to hunt down data from another ice cream shop on the island, and see if there are any significant things to look out for.